<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{include head}
	</head>
	<body>
		{include body}
		<hr>
		Iveta Hudcová
		<br>
		<a href="http://www.kouzelne-sperky.cz">www.kouzelne-sperky.cz</a>
	</body>
</html>