{extends '@layout.latte'}

{block head}
<title>Faktura k Vaší objednávce</title>
{/block}

{block body}
{? $sumPiece = 0}

<h2>Faktura k Vaší objednávce</h2>
<p>Děkujeme za převzetí zboží.</p>
<p>V příloze naleznete fakturu k vaší objednávce.</p>

