{extends '@layout.latte'}

{block head}
<title>Obdrželi jsme vaši platbu</title>
{/block}

{block body}

<h2>Obdrželi jsme vaši platbu</h2>
<p>Vaše zboží bude odesláno v nejbližší možný termín.</p>
<p>Daňový doklad obdržíte e-mailem, který Vám zašleme po doručení zboží dopravcem na Vaši adresu.</p>


