{block content}

<div class="mini-basket">
	<a href="{plink Basket:}">
		<div class="price">{$sumPrice},- {_"Kč"}</div>
		<div class="icon"><i class="fa fa-shopping-cart"></i></div>
	</a>
</div>

<div class="fc"></div>