{block content}
<h1>{$tag}</h1>
<div class="row">
	<div class="col-md-12">
		{control pagination}
	</div>
</div>
		
{foreach $products as $product}
	{include '../components/productList.latte', 'product' => $product}
{/foreach}

<div class="row">
	<div class="col-md-12">
		{control pagination}
	</div>
</div>